<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>511238409730-st0so3ps724teds1jju1h2me105vhb3h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.511238409730-st0so3ps724teds1jju1h2me105vhb3h</string>
	<key>API_KEY</key>
	<string>AIzaSyBY3Wz-LfKZNK4LC-bOBwAWiE7WYERQK6w</string>
	<key>GCM_SENDER_ID</key>
	<string>511238409730</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>muhuiyu.JLPT-test</string>
	<key>PROJECT_ID</key>
	<string>jlpt-practice-8097f</string>
	<key>STORAGE_BUCKET</key>
	<string>jlpt-practice-8097f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:511238409730:ios:991ed9d7a4523c0775211b</string>
</dict>
</plist>